.services {
    width: 100%;
    // padding-left: 15vw;
    // padding-right: 15vw;
    &-pane {
        text-align: end;
        height: 75vh;
        width: 55vw;
        margin: auto;
        margin-top: 3rem;
        border-radius: 2rem;
        box-shadow: 0rem 2rem 5rem #ddd;
        &-head {
            // box-shadow: 0.25rem 0.25rem  12rem #eee inset;
            text-align: center;
            color: grey; 
            height: 10%;
            margin: auto;
            margin-top: 3rem;
        }
        &-options {
            height: 50%;
            // background-color: red;
            box-shadow: 0rem 1.5rem 2.5rem #ddd;
            &-element {
                height: 50%;
                // border: 1px solid black;
                // box-shadow: 0.25rem 0.25rem  12rem #eee inset;
                overflow: hidden;
                &:hover {
                    &::after{
                        transition: 1s;
                        transform: scaleX((1/1.2)) scaleY((1/1.5));
                    }
                }
                &::after {
                    transition: 1s;
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    transform: rotateZ(1750deg) scaleX(1.2) scaleY(1.75) rotateX(75deg);
                    // box-shadow: 0rem 2rem 5rem #ddd;
                }
                padding: 3rem;
                &:nth-of-type(1) {
                    &::after {
                        background-image: linear-gradient( to right, #FFD071, #FF677B );
                        // box-shadow: 0.25rem 0.25rem 1rem #ddd inset;
                        &:hover{
                            transform: scaleX(2);
                        }
                    }
                }
                &:nth-of-type(2) {
                    &::after {
                        background-image: linear-gradient( to right, #885DE1, #FF677B );
                    }
                }
                &:nth-of-type(3) {
                    &::after {
                        background-image: linear-gradient( to right, #EEAFDD, #62D7FA );
                    }
                }
                &:nth-of-type(4) {
                    &::after {
                        background-image: linear-gradient( to right, #FFD071, #FF677B );
                    }
                }
                &:nth-of-type(5) {
                    &::after {
                        background-image: linear-gradient( to right, #9AF1D4, #0A4CCE );
                    }
                }
                &:nth-of-type(6) {
                    &::after {
                        background-image: linear-gradient( to right, #EEAFDD, #62D7FA );
                    }
                }
            }
        }
        &-options-misc {
            height: 0%;
            background-color: green;
        }
        &-carousel {
            height: 40%;
            // background-color: blue;
        }
    }
}