.auth {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #fff, $alpha: 0.55);
    &box {
        margin: 20vh 30vw;
        border-radius: 2rem;
        // height: 100%;
        // width: 100%;
        background-color: #eee;
        &-options {
            display: inline-block;
            width: 100%;
            height: 10vh;
            &-upper {
                text-align: right;
                padding-right: 2vw;
                padding-top: 2vh;
            }
            &-lower {

            }
        }
        &-login {
            text-align: center;
            padding: auto;
            padding-left: 12rem;
            padding-right: 12rem;
            padding-top: 5rem;
            display: block;
            background-color: #333;
            width: 100%;
            height: 40vh;
        }
        &-register {
            text-align: center;
            padding: auto;
            padding-left: 12rem;
            padding-right: 12rem;
            padding-top: 2.5rem;
            display: block;
            background-color: #333;
            width: 100%;
            height: 40vh;
        }
    }
    &chasis {
        position: absolute;
        top: 2.5vh;
        z-index: 1000;
        left: 70vw;
        border-radius: 0.5rem;
        padding: 1rem;
        // background-color: rgba($color: #fff, $alpha: 0.75);
        &-options {
            &-btn {
                display: inline-block;
                background-color: transparent;
                text-decoration: none;
                border: none;
                color: whitesmoke;
                border-radius: 10rem;
                padding: 0.25rem 1rem;
                &:hover {
                    background-color: white;
                    color: black;
                }
                &-arr {

                }
                &-login {
                    margin-right: 1rem;
                }
            }
        }
    }
    &-form {
        width: 20vw;
    }
    &-btn {
        margin-top: 2rem;
        display: block;
    }
}