.sidebar {
  &__container {
    @media screen and(max-width:900px) {
      display: none;
    }
    height: 100vh;
    position: fixed;
    max-width: 200px;
    background-color: (#eee);
  }

  &__option {
    padding: 25px 0;
  }
  &__icon {
    &-focussed {
      color: darken(#0081cf, 10%);
      background-color: white;
    }
    &-container {
      margin-top: 90px;
      // position: absolute;
      // top: 10%;
      // left: 50%;
      //   border: 1px solid red;
      // transform: translate(-50%, -50%);
    }
    // position: relative;
    // left: 50%;
    // background-color: red;
    min-width: 5.5vw;
    text-align: center;
    // border: 1px solid red;
    // transform: translateX(-50%);
    font-size: 45px;
    padding: 30px 7px;
    color: white;
    background-color: #0081cf;
  }
}
